set default=0
set timeout=5

menuentry "Oiinux 0.1.0" {
    linux /boot/oiinux-kernel console=tty1 quiet
    initrd /boot/initramfs.cpio.gz
}

menuentry "Oiinux (serial console)" {
    linux /boot/oiinux-kernel console=ttyS0 quiet
    initrd /boot/initramfs.cpio.gz
}

menuentry "Oiinux (debug)" {
    linux /boot/oiinux-kernel console=tty1
    initrd /boot/initramfs.cpio.gz
}
